#bg {
  position: relative;

  width: 800px;
  height: 500px;

  background: url("./images/bg.png") no-repeat;
  background-size: cover;

  margin: 0 auto;
}

#hero {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 35px;
  height: 54px;

  background: url("./images/hero.png") no-repeat;
}

#hero.face {
  background-position: 0;
}

#hero.left {
  background-position: -70px;
}

#hero.right {
  background-position: -105px;
}
